# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Java / build outputs
*.class
hs_err_pid*
replay_pid*
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# VS Code (если вдруг)
.vscode/
